@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1, 5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f0efe9;
}

.btn-yellow2 {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.btn-yellow2 i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow2:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f0efe9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-white {
  background-color: #fff;
  border: 1px solid #fff;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.btn-white i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-white:hover {
  background-color: #191919;
  border: 1px solid #fff;
  color: #fff;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f0efe9;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #f94d1c;
  margin-bottom: 5px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
@media (min-width: 768px) {
  .section-title h2 {
    color: #191919;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content {
  display: flex;
  justify-content: left;
  align-items: center;
}

header {
  background-color: #f0efe9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #dad9d3;
  font-family: "inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contactinformation-bar .content-box i {
  margin-right: 5px;
  font-size: 1.2rem;
}
header .container .contactinformation-bar .content-box.last {
  border: none;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .socialmedia-bar a:hover {
  color: #191919;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dad9d3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: -15px;
  z-index: -1;
  left: 0;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.showcase .container .content a {
  margin-right: 10px;
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.Loggotypes {
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  padding-left: 50px;
}
.Loggotypes .container .loggos img {
  margin-right: 30px;
}
@media (max-width: 992px) {
  .Loggotypes .container .loggos img {
    display: none;
  }
}

.Features .section-title {
  padding-bottom: 10px;
}
.Features .section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
@media (min-width: 992px) {
  .Features .section-title h2 {
    font-size: 45px;
    width: 75%;
    text-align: left;
    padding-bottom: 50px;
  }
}
.Features .section-title p {
  text-align: left;
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  .Features .section-title p {
    text-align: center;
  }
}
.Features .container {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #D1D1D1;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
@media (min-width: 992px) {
  .Features .container {
    display: flex;
    border: 1px solid #D1D1D1;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.Features .container .btn-yellow {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 992px) {
  .Features .container .btn-yellow {
    display: none;
  }
}
@media (min-width: 992px) {
  .Features .container .btn-yellow {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 992px) {
  .Features .container .btn-yellow2 {
    display: none;
  }
}
.Features .four-features .buttondown {
  padding-top: 30px;
}
@media (max-width: 992px) {
  .Features .four-features {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .Features .four-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: left;
  }
}
.Features .four-features .features {
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .Features .four-features .features {
    padding-left: 70px;
    padding-top: 50px;
  }
}
.Features .four-features .features h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.Features .four-features .features p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.Features .four-features .features img {
  padding: 15px;
}

.About-Company {
  padding-top: 150px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .About-Company {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
.About-Company .container .womanquates {
  justify-content: space-between;
  padding-right: 150px;
  padding-left: 70px;
}
.About-Company .container .womanquates .img {
  position: relative;
}
@media (max-width: 1200px) {
  .About-Company .container .womanquates .img .Womanblueshirt {
    display: none;
  }
}
.About-Company .container .womanquates .img .EWlement {
  position: absolute;
  left: 0;
  padding-top: 30px;
}
@media (max-width: 1200px) {
  .About-Company .container .womanquates .img .EWlement {
    display: none;
  }
}
.About-Company .container .womanquates .img .Quotes {
  position: absolute;
  left: 0;
  padding-top: 360px;
  margin-left: -100px;
}
@media (max-width: 1200px) {
  .About-Company .container .womanquates .img .Quotes {
    display: none;
  }
}
.About-Company .container .flexxx {
  display: flex;
  text-align: center;
}
@media (max-width: 1200px) {
  .About-Company .container .flexxx {
    display: block;
  }
}
.About-Company .container .section-title {
  justify-content: left;
  text-align: left;
  padding-top: 5px;
}
.About-Company .container .section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  width: 90%;
}
@media (max-width: 1200px) {
  .About-Company .container .section-title {
    justify-content: center;
    text-align: center;
  }
}
.About-Company .container .section-title .lorem-1 {
  padding-top: 40px;
}
.About-Company .container .section-title .lorem-2 {
  padding-top: 40px;
}
.About-Company .container .section-title .left-content {
  padding-top: 100px;
}
@media (max-width: 1200px) {
  .About-Company .container .section-title .left-content {
    display: block;
  }
}
.About-Company .container .section-title .left-content a {
  padding-left: 35px;
}
@media (max-width: 1200px) {
  .About-Company .container .section-title .left-content a {
    padding-left: 25px;
  }
}
.About-Company .container .section-title .left-content div {
  padding-left: 15px;
}
@media (max-width: 1200px) {
  .About-Company .container .section-title .left-content div {
    padding-left: 220px;
    padding-top: 10px;
  }
}
.About-Company .btn-cirkle-play {
  text-decoration: none;
  color: #131313;
  position: relative;
}
.About-Company .btn-cirkle-play i {
  margin-left: 8px;
  font-size: 2.7em;
}
.About-Company .btn-cirkle-play:hover::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 43px;
  height: 2px;
  background-color: #191919;
}

.Our-Services {
  background-color: #f0efe9;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.Our-Services .wavy-lines-our-services {
  position: absolute;
  right: 0;
  bottom: 0;
}
.Our-Services .section-title {
  padding-bottom: 30px;
  text-align: center;
}
.Our-Services .section-title h2 {
  font-size: 45px;
  font-weight: 700;
}
.Our-Services .section-title p {
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .Our-Services .section-title {
    text-align: left;
    width: 40%;
  }
}
.Our-Services .services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: left;
  padding-bottom: 100px;
}
@media (min-width: 1200px) {
  .Our-Services .services {
    display: flex;
    gap: 20px;
    text-align: left;
    padding-bottom: 100px;
  }
}
.Our-Services .services .service {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-inline: 30px;
}
.Our-Services .services .service.yellow {
  background-color: #f9d783;
}
.Our-Services .services .service h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.Our-Services .services .service p {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.Our-Services .services .service .btn-black {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  padding: 0;
  display: grid;
  place-items: center;
}
.Our-Services .services .service .btn-black i {
  margin: 0;
}
.Our-Services .services .service .btn-white {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  padding: 0;
  display: grid;
  place-items: center;
}
.Our-Services .services .service .btn-white i {
  margin: 0;
}
.Our-Services .services .service .streck {
  border: solid 1px #191919;
  position: absolute;
  left: 30px;
  width: 30px;
  top: 50px;
}

.Why-Choose-Us {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.Why-Choose-Us .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
@media (max-width: 1400px) {
  .Why-Choose-Us .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
.Why-Choose-Us .container .img-class .whychooseus {
  padding-bottom: 100px;
  position: absolute;
  right: 0;
  bottom: 22px;
  z-index: -1;
  display: block;
}
@media (max-width: 1650px) {
  .Why-Choose-Us .container .img-class .whychooseus {
    width: 60%;
  }
}
@media (max-width: 1400px) {
  .Why-Choose-Us .container .img-class .whychooseus {
    display: none;
  }
}
.Why-Choose-Us .container .img-class .whychooseuswoman {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 200px;
  margin-right: 12%;
  height: 560px;
  z-index: 2;
}
@media (max-width: 1650px) {
  .Why-Choose-Us .container .img-class .whychooseuswoman {
    width: 40%;
  }
}
@media (max-width: 1400px) {
  .Why-Choose-Us .container .img-class .whychooseuswoman {
    display: none;
  }
}
.Why-Choose-Us .container .text-class {
  display: grid;
  grid-template-columns: 1fr;
}
@media (max-width: 1400px) {
  .Why-Choose-Us .container .text-class {
    text-align: center;
    justify-content: center;
  }
}
.Why-Choose-Us .container .text-class h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
@media (min-width: 1400px) {
  .Why-Choose-Us .container .text-class h2 {
    width: 60%;
  }
}
.Why-Choose-Us .container .text-class p {
  padding-bottom: 15px;
}
.Why-Choose-Us .container .PSEA {
  position: relative;
  padding-left: 90px;
}
@media (max-width: 1400px) {
  .Why-Choose-Us .container .PSEA {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0px;
    gap: 30px;
  }
}
.Why-Choose-Us .container .PSEA h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.Why-Choose-Us .container .PSEA p {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.Why-Choose-Us .container .PSEA .ikon {
  padding-bottom: 10px;
}
@media (min-width: 1400px) {
  .Why-Choose-Us .container .PSEA .ikon {
    position: absolute;
    left: 0;
  }
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dad9d3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .center-content {
  padding-top: 50px;
  padding-bottom: 90px;
}

.Meet-Our-Team {
  background-color: #f0d082;
  padding-top: 120px;
  padding-bottom: 100px;
}
.Meet-Our-Team .container .top-row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .Meet-Our-Team .container .top-row {
    display: block;
  }
}
@media (max-width: 1400px) {
  .Meet-Our-Team .container .top-row .section-title {
    text-align: center;
    justify-content: center;
  }
}
.Meet-Our-Team .container .top-row .knapp-1 {
  margin-top: 65px;
}
@media (max-width: 1400px) {
  .Meet-Our-Team .container .top-row .knapp-1 {
    display: none;
  }
}
.Meet-Our-Team .container .top-row h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-top: 20px;
}
.Meet-Our-Team .container .top-row .section-title {
  padding: 0;
}
.Meet-Our-Team .container .members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  text-align: center;
}
@media (max-width: 992px) {
  .Meet-Our-Team .container .members {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1400px) {
  .Meet-Our-Team .container .members {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
  }
}
@media (max-width: 1400px) {
  .Meet-Our-Team .container .members .member {
    margin-bottom: 40px;
  }
}
.Meet-Our-Team .container .members .member h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 30px;
}
.Meet-Our-Team .container .members .member p {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.Meet-Our-Team .container .dotts {
  padding-left: 46.5%;
  padding-top: 40px;
}
@media (max-width: 992px) {
  .Meet-Our-Team .container .dotts {
    display: none;
  }
}
.Meet-Our-Team .container .knapp-2 {
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 992px) {
  .Meet-Our-Team .container .knapp-2 {
    display: none;
  }
}

.Testimonial {
  background-color: #f0d082;
  padding-bottom: 100px;
}
.Testimonial .container {
  background-color: #ffffff;
  padding-bottom: 200px;
  max-width: 80%;
  padding-left: 100px;
  padding-right: 100px;
}
.Testimonial .container .clients {
  display: flex;
}
@media (max-width: 1400px) {
  .Testimonial .container .clients {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.Testimonial .container .section-title {
  text-align: center;
}
.Testimonial .container .section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.Testimonial .container .section-title p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.Testimonial .container .testimonials {
  justify-content: left;
}
@media (max-width: 1400px) {
  .Testimonial .container .testimonials {
    justify-content: center;
  }
}
@media (max-width: 1400px) {
  .Testimonial .container .testimonials .Client {
    justify-content: center;
    text-align: center;
  }
}
.Testimonial .container .testimonials .Client h3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 2;
}
@media (max-width: 1400px) {
  .Testimonial .container .testimonials .Client h3 {
    padding-left: 50px;
  }
}
.Testimonial .container .testimonials .client-title {
  display: flex;
  align-items: center;
}
@media (max-width: 1400px) {
  .Testimonial .container .testimonials .client-title {
    justify-content: center;
    text-align: center;
    display: block;
  }
}
.Testimonial .container .testimonials .title {
  padding-left: 20px;
  width: 100%;
}
.Testimonial .container .testimonials .title h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 20px;
  padding: 0;
}
@media (max-width: 1400px) {
  .Testimonial .container .testimonials .title h3 {
    padding-left: 50px;
  }
}
.Testimonial .container .testimonials .title p {
  color: #f94d1c;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1400px) {
  .Testimonial .container .testimonials .title p {
    padding-bottom: 50px;
  }
}
.Testimonial .container .center-content {
  padding-top: 100px;
}

.Article-News {
  padding-top: 120px;
  padding-bottom: 100px;
}
.Article-News .container .top-row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .Article-News .container .top-row {
    display: block;
  }
}
@media (max-width: 1400px) {
  .Article-News .container .top-row .section-title {
    text-align: center;
    justify-content: center;
  }
}
.Article-News .container .top-row .knapp-1 {
  margin-top: 65px;
}
@media (max-width: 1400px) {
  .Article-News .container .top-row .knapp-1 {
    display: none;
  }
}
.Article-News .container .top-row h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-top: 20px;
}
.Article-News .container .top-row .section-title {
  padding: 0;
}
.Article-News .container .members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  text-align: center;
}
@media (max-width: 1400px) {
  .Article-News .container .members {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1400px) {
  .Article-News .container .members {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
  }
}
.Article-News .container .members .member {
  text-align: left;
}
@media (max-width: 1400px) {
  .Article-News .container .members .member {
    margin-bottom: 40px;
    text-align: center;
  }
}
.Article-News .container .members .member img {
  padding-bottom: 30px;
}
.Article-News .container .members .member h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.Article-News .container .members .member p {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.Article-News .container .dotts {
  padding-left: 46.5%;
  padding-top: 40px;
}
@media (max-width: 1400px) {
  .Article-News .container .dotts {
    display: none;
  }
}
.Article-News .container .knapp-2 {
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 1400px) {
  .Article-News .container .knapp-2 {
    display: none;
  }
}

.newsletter {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .background-wavy-lines {
  position: absolute;
  right: 0;
  bottom: 30px;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #dad9d3;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer {
  background-color: #0E1021;
  padding-bottom: 60px;
  position: relative;
}
.footer .wavy-lines-footer {
  position: absolute;
  right: 0;
  bottom: 113px;
}
@media (max-width: 1200px) {
  .footer .wavy-lines-footer {
    display: none;
  }
}
.footer .container {
  color: #ffffff;
  display: flex;
  padding-top: 100px;
  position: relative;
}
@media (max-width: 1200px) {
  .footer .container {
    display: block;
  }
}
.footer .container .loggotype-footer img {
  padding-bottom: 30px;
}
@media (max-width: 1200px) {
  .footer .container .loggotype-footer img {
    padding-bottom: 50px;
  }
}
.footer .container .loggotype-footer p {
  padding-right: 100px;
  color: #B6B6BC;
}
@media (max-width: 1200px) {
  .footer .container .loggotype-footer p {
    display: none;
  }
}
.footer .container .CHRL {
  display: flex;
  text-align: left;
  gap: 30px;
}
.footer .container .CHRL .H3 {
  padding-bottom: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-left: 30px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.footer .container .CHRL .H3:hover {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .footer .container .CHRL {
    text-align: center;
    justify-content: center;
    padding: 0;
  }
}
.footer .container .CHRL .link {
  display: flex;
  padding-bottom: 15px;
  color: #B6B6BC;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
  display: inline-block;
  transition: background-color 0.2s;
}
@media (max-width: 1200px) {
  .footer .container .CHRL .link {
    display: none;
  }
}
.footer .container .CHRL .link:hover {
  text-decoration: underline;
}
.footer .smal-border {
  margin-top: 100px;
  width: 100%;
  border: 1px solid #3E404D;
}
.footer .footer-menu {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-left: 290px;
  padding-top: 20px;
}
@media (max-width: 1200px) {
  .footer .footer-menu {
    display: block;
    padding-left: 0;
    padding-top: 50px;
  }
}
@media (max-width: 1200px) {
  .footer .footer-menu .copy {
    text-align: center;
    justify-content: center;
  }
}
.footer .footer-menu .socialmedia-bar {
  padding-right: 21%;
}
@media (max-width: 1200px) {
  .footer .footer-menu .socialmedia-bar {
    display: none;
  }
}
.footer .footer-menu .socialmedia-bar a {
  color: #ffffff;
  font-size: 1.3rem;
  margin-left: 10px;
}
.footer .footer-menu .socialmedia-bar a:hover {
  color: #a1a1a1;
}